* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.no-scroll {
    overflow: hidden;
}

.bgContacto {
    background-image: url("../public/images/bg.webp");
}

.shadow {
    -webkit-box-shadow: 0px 0px 103px 23px rgba(255, 255, 255, 0.48);
    -moz-box-shadow: 0px 0px 103px 23px rgba(255, 255, 255, 0.48);
    box-shadow: 0px 0px 103px 23px rgba(255, 255, 255, 0.48);
}
